* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #161616;
    --standard-font: Helvetica;
    --color-primary: #3498db;
}

body {
    background-color: var(--background-color);
    font-family: var(--standard-font);
}

h1 {
    font-size: 2rem;
    font-family: Helvetica;
    color: var(--color-primary);
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid var(--color-border);
    border-radius: 5px;
}